!!!
!!! 5
html
  head
    title= 'Influence Mapper'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/application.js')
    script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyALpSRMK0APl9M1BzmXeTDZxFpie86ZXKQ&sensor=false")
  body
    !=body